---
import CoffeeCard from "../components/cardCoffe.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout title="Grano dorado - Inicio">

	<div class="container">
		<h1 class="text-center my-4">¡Bienvenido a Grano Dorado!</h1>
		<h2 class="text-center mb-4">De la tierra a tu taza, el sabor del café perfecto.</h2>
		<section>
			<h2 class="mb-4">Nuestros Tipos de Café</h2>
			<div class="row">
				<div class="col-md-3 mb-4 d-flex">
					<CoffeeCard
						image="/src/assets/coffee1.jpg"
						name="Café Arábica"
						description="Suave y dulce con notas frutales."
						price="$10.00"
					/>
				</div>
				<div class="col-md-3 mb-4 d-flex">
					<CoffeeCard
						image="/src/assets/coffee2.jpg"
						name="Café Robusta"
						description="Fuerte y amargo con notas de chocolate."
						price="$8.00"
					/>
				</div>
				<div class="col-md-3 mb-4 d-flex">
					<CoffeeCard
						image="/src/assets/coffee3.jpg"
						name="Café Liberica"
						description="Exótico con notas de frutas tropicales."
						price="$11.00"
					/>
				</div>
				<div class="col-md-3 mb-4 d-flex">
					<CoffeeCard
						image="/src/assets/coffee4.jpg"
						name="Café Excelsa"
						description="Complejo con notas de frutas oscuras."
						price="$13.00"
					/>
				</div>
			</div>
		</section>
	</div>
</DefaultLayout>
